* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #282c34;
  --separator-color: #282c344d;

  --space-xs: 4px;
  --space-s: 8px;
  --space-primary: 12px;
  --space-l: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}
